<a mat-raised-button color="warn" routerLink="/ciclo/cadastrar">
  <mat-icon>event</mat-icon>
  Novo Ciclo
</a>

<table mat-table [dataSource]="ciclos" class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let ciclo"> {{ciclo._id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data do Ciclo </th>
    <td mat-cell *matCellDef="let ciclo"> {{ ciclo.data | date: "MMMM - yyyy" }} </td>
  </ng-container>
  
  <ng-container matColumnDef="criadoEm">
    <th mat-header-cell *matHeaderCellDef> Criado em </th>
    <td mat-cell *matCellDef="let ciclo"> {{ ciclo.createdAt | date: "dd/MM/yyyy HH:mm:ss" }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>